<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- SQL definition -->
<!-- <mapper namespace="ProdMapper">
	<select id="getProdList" resultType="product">
		SELECT
 		num AS num, 
 		seller_id AS sellerId, 
 		category AS category, 
 		name AS name, 
 		origin_price AS originPrice, 
 		percentage AS percentage,
 		week AS week,
 		status AS status,
 		detail AS detail,
 		review_cnt AS reviewCnt,
 		stars AS stars,
 		fee AS fee
 		FROM product
 		ORDER BY num;
	</select>
	

</mapper> -->

<mapper namespace="ProdMapper">
	<resultMap type="Product" id="ProductResult">
			<id property="num" column="num" javaType="int"/>
			<result property="sellerId" column="seller_id"/>
			<result property="category" column="category"/>
			<result property="name" column="name"/>
			<result property="originPrice" column="origin_price"/>
			<result property="percentage" column="percentage"/>
			<result property="week" column="week"/>
			<result property="status" column="status"/>
			<result property="detail" column="detail"/>
			<result property="reviewCnt" column="review_cnt"/>
			<result property="stars" column="stars"/>
			<result property="fee" column="fee"/>
			<collection property="qnas" column="num" javaType="java.util.ArrayList" 
			ofType="com.myomi.qna.QnaVo" select="QnaMapper.getQnaList"/>
	</resultMap>
	
	<resultMap type="Qna" id="Qna">
		<id property="num" column="num" javaType="int"/>
		   <result property="userId" column="user_id" />
		   <result property="prodNum" column="prod_num" />
		   <result property="queTitle" column="que_title" />
		   <result property="queContent" column="que_content" />
		   <result property="queCreatedDate" column="que_created_date" />
		   <result property="ansContent" column="ans_content" />
		   <result property="ansCreatedDate" column="ans_created_date" /> 
	</resultMap>
	
	<select id="selectByProdQna" parameterType="int" resultMap="ProductResult">
		 SELECT p.num, p.name, q.num, q.user_id, q.prod_num, q.que_title, que_content
		 FROM product p, qna q 
		 WHERE p.num = 2
	</select>
</mapper>

