<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
	<!-- Camel Case, Snake Case로만 다를 경우 
        	resultMap을 안 써도 이 코드 쓰면 알아서 바꿔줌 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <!-- 2. vo 연결 및 alias 지정 -->
    <typeAliases>
		<typeAlias alias="Product" type="com.myomi.product.ProductVo"/>
	</typeAliases>
	<!-- 3. DB 서버 정보 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="myomi" />
				<property name="password" value="myomi" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mybatis/mapper/mybatis-mapper.xml" />
	</mappers>
</configuration>
